Invalid SHACL shapes

The following shape has invalid SPARQL: https://github.com/alexisimo/ERA-SHACL-Benchmark/blob/7929b2111992593c0bf2aa268230c06637c6a15c/shapes/era_shapes.ttl#L4424C1-L4446C6

The SPARQL query re-declares the same prefix:

```
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
```

SPARQL 1.1 forbids re-declaring a prefix:

> **19.5 IRI References**
> 
> Text matched by the [IRIREF](https://www.w3.org/TR/sparql11-query/#rIRIREF) production and [PrefixedName](https://www.w3.org/TR/sparql11-query/#rPrefixedName) (after prefix expansion) production, after escape processing, must conform to the generic syntax of IRI references in section 2.2 of RFC 3987 "ABNF for IRI References and IRIs" [[RFC3987](https://www.w3.org/TR/sparql11-query/#rfc3987)]. For example, the [IRIREF](https://www.w3.org/TR/sparql11-query/#rIRIREF) <abc#def> may occur in a SPARQL query string, but the [IRIREF](https://www.w3.org/TR/sparql11-query/#rIRIREF) <abc##def> must not.
> 
> Base IRIs declared with the BASE keyword must be absolute IRIs. A prefix declared with the PREFIX keyword may not be re-declared in the same query. See section 4.1.1, [Syntax of IRI Terms](https://www.w3.org/TR/sparql11-query/#QSynIRI), for a description of BASE and PREFIX.

Data and shapes were used as published: the ERA knowledge graph from its [Zenodo ](https://zenodo.org/records/14605744) and the shapes from the corresponding [Github](https://github.com/Interoperable-data/ERA_vocabulary/tree/release-3-0-1/era-shacl) repository. Given that the benchmark is based on real-world data and shapes, we consider that the existence of errors such as the one mentioned in the issue can be encountered in a real-world benchmark. The benchmark's goal is to assess engines' behaviour in such cases. Nevertheless, we could include an extra run highlighting these modifications as an extension of the benchmark.

Reported at the source https://gitlab.com/era-europa-eu/public/interoperable-data-programme/era-ontology/era-ontology/-/issues/117 .
The error there is https://gitlab.com/era-europa-eu/public/interoperable-data-programme/era-ontology/era-ontology/-/blob/main/era-shacl/version-3-0-x/RINF-train-detection-systems-sparql.ttl#L44 .

@alexisimo We know it's not your shape. However, your benchmark includes Correctness tests yet admits an invalid shape?
What is the correct response in this case, and does your benchmark test for it?

I would prefer a benchmark that showed the performance of the different SHACL engines, and fixed any minor issues with the underlying data. 

If not then I would be hesitant at penalising the only implementation that follows the specification at this point. I would rather say that RDF4J did not produce an error, but rather halted processing due to an error in the shapes. While the others did not recognise the error in the shapes and then either ignored it or incorrectly ran the validation. 




I'm sorry for being a bit pedantic, but I know that our SHACL implementation has ignored the part of the SHACL spec that doesn't allow the "legacy" 1 and 0 representations in SPARQL for true and false. Even though it's part of the official test suite. I'm sure if the shapes used the illegal syntax for true/false then the other implementations would probably recognise that error too and put them at a disadvantage to RDF4J. 

Dear @hmottestad 

Thanks for the reports. Indeed, benchmarks are thought to be used for the continuous improvement of tools and systems. No intention whatsoever to penalise any of them, but to flag differences in implementations, allow for improvements, etc. When the benchmark is released, then the steps towards addressing those issues are done (sometimes changing parts of the benchmark that may be wrong or incomplete, sometimes changing things in the tools/systems, etc.), which is what we hope that we will be experiencing next. 

That said, our inmediate next steps before going further in publishing the benchmark are:

- Fix the errors on the duplication of prefixes, since this was an error in the benchmark. This will be recorded in an update in the Zenodo record for the benchmark, as well as in associated documentation/papers.
- Add a discussion in the associated documentation/papers on the different behaviours in situations like the one of duplicated prefixes, so as to point this out. 
- We can also check with a unit test (outside of the becnhmark) what you comment on booleans, and comment on it similarly. 

But please feel reassured that this is not to penalise any tool. Just to flag the current situation that practitioners who decide to use SHACL have to face, and allow for this continuous improvement. Thanks a lot.

This minor issue was solved in this [commit](https://github.com/alexisimo/ERA-SHACL-Benchmark/commit/eae4657dfd696c49ceb16f763afcd3be9467eca5).

@rdstn Did you say you found another shape with the same defect?

No, it was only one shape that had such a defect.